@import "@/style-vars/common.less";

.firstSection {
  height: 830px;
  background-image: url("@/assets/main-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 @main-bg-offset-y;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .mainWord {
      display: block;
      width: 938px;
      height: 179px;
    }

    .desc {
      margin: 20px 0 10px 0;
      font-family: Arial;
      font-weight: 400;
      font-size: 20px;
      color: #9a9a9a;
    }

    .btn {
      width: 240px;
      height: 64px;
      padding: 0;
      border-radius: 8px;
      border: none;
      outline: none;
      color: #fff;
      background: #3183ff;
      font-weight: 400;
      font-family: Regular;
      font-size: 18px;
      text-align: center;
      line-height: 40px;
      margin-top: 20px;
    }
  }

  &.h5 {
    height: 280px;
    background-position: 0 @h5-main-bg-offset-y;

    .content {
      padding-top: 30px;

      .mainWord {
        width: 263px;
        height: 56px;
      }

      .desc {
        margin: 20px 0 24px;
        width: 299px;
        font-size: 12px;
        text-align: center;
      }

      .btn {
        width: 240px;
        height: 40px;
        font-size: 16px;
      }
    }
  }

  .statsBar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 900px; /* 你可以按视觉微调 */
    width: 100%;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .h5 {
    /* 移动端（非PC）可以改成竖向排列 */
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
  }

  .statItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    min-width: 180px; /* 防止挤在一起 */
  }

  .number {
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    font-family: PingFang SC;
    color: #56aaff;
  }

  .label {
    margin-top: 12px;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    font-family: Arial;
  }
}
