.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 120px 93px;

    .logo {
        display: block;
        width: 183px;
        height: 34px;
    }

    .launch {
        padding: 0;
        width: 148px;
        height: 40px;
        border-radius: 8px;
        border: none;
        outline: none;
        color: #fff;
        background: #3183FF;
        font-weight: 400;
        font-family: Regular;
        font-size: 18px;
        text-align: center;
        line-height: 40px;
    }

    &.h5 {
        padding: 14px 24px 8px;
        border-bottom: 1px solid #808080;

        .logo {
            width: 101px;
            height: 20px;
        }

        .launch {
            width: 94px;
            height: 32px;
            font-size: 12px;
            line-height: 32px;
        }
    }
}