.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #666;
    margin: 0 120px;
    padding: 34px 0 66px;

    .left {
        font-size: 15px;
        display: flex;
        font-family: Arial;
        font-weight: 400;
        line-height: 100%;
        color: #808080;

        img {
            margin-right: 8px;
            width: 14px;
            height: 14px;
        }
    }

    .right {
        display: flex;

        img {
            cursor: pointer;
            margin-left: 40px;
            width: 24px;
            height: 24px;
        }
    }

    &.h5 {
        margin: 0 24px;
        padding: 20px 0;

        .left {
            font-size: 10px;
        }

        .right {
            img {
                margin-left: 12px;
                width: 10px;
                height: 10px;
            }
        }
    }
}